.result {
    font-size: 20px;
    margin-top: 10px;
  }

  /* 슬라이드 컨테이너 스타일 */
  #slider {
    position: absolute;
    top: 400px;
    left: 450px;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    z-index:2;
  }

  /* 이미지 스타일 */
  #slider img {
    width: 100%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
  }

  /* 이전 버튼 스타일 */
  #prev,
  #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  #prev {
    left: 10px;
  }

  #next {
    right: 10px;
  }

  /* 버튼에 이미지 배경 설정 */
  #prev {
    background-image: url('/static/images/prev.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }

  #next {
    background-image: url('/static/images/next.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }

  .button {
    background-color: #D9D9D9;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
  }

  .button:hover {
    background-color: #A4C1AE;
    color: #FFFFFF;
  }

  .tab {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.3s;
  }

  .active {
    color: black;
    border-bottom: 3px solid black;
  }

  .content {
    display: none;
    margin-top: 10px;
  }

  .active-content {
    display: block;
  }

  .review {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .rating {
    color: gold;
  }

  .content {
    display: none;
    /* 초기에는 숨김 */
    margin-top: 10px;
  }

  .active-content {
    display: block;
    /* 활성화되면 보이도록 설정 */
  }