{% extends "header.html" %}
{% block header %}
{% endblock header %}
{% block section %}
    <section id="aboutus_r">
        <div class="container">
            <div class="about-section">
                <h1 class="about-title">About Us</h1>
                <div class="title-underline"></div><br><br>
                <div class="logo-title-container">
                    <div class="logo">
                        <img src="/static/images/logo.png" wideth: 180px; height: 180px; alt="소소한 이화 로고">
                    </div>
                    <h2 class="title-korean">소소한 이화</h2>
                </div>
                <p class="description">
                    '소소(小昭)한 이화'는<br>
                    학생들이 학생 신분으로서 작고 소소한 물품 판매를 할 수 있도록 해(小)<br>
                    학생들의 밝은 미래를 향한 커리어를 시작할 수 있도록 하는(昭)<br>
                    이화인들의 마켓 서비스입니다.
                </p>
                {% if session['id'] %}
                <div style="text-align: center;"> <!--css 적용 필요!--><br>
                    <button class="aboutus-button" id="aboutus-gotomain" onclick="location.href='main.html';">메인 화면으로</button>
                </div>
                {% else %}
                <div style="text-align: center;"> <!--css 적용 필요!--><br>
                    <button class="aboutus-button" id="aboutus-login" onclick="location.href='login.html';">로그인</button>&nbsp;
                    <button class="aboutus-button" id="aboutus-signup" onclick="location.href='signup.html';">회원가입</button>
                </div>
                {% endif %}
            </div>
        </div>

        <script src="path/to/main.js"></script>
    </section>
{% endblock section %}
{% block footer %}
{% endblock footer %}