{% extends "header.html" %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Review Detail Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='eunyoung_style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block section %}
{% if session['status']=="product" %}
{% include 'nav_product.html' %}
{% else %}
{% include 'nav_service.html' %}
{% endif %}

<section class="qna-container">
    <h2 class="qna-title">{{ name }} Q&A 게시판</h2>
    <div>
        <a href="/board_write/{{ name }}/">
            <button class="qna-btn">작성하기</button>
        </a>
    </div>
    <div>
        <table class="qna-table">
            <colgroup>
                <col class="number" />
                <col class="postTitle" />
                <col class="postId" />
                <col class="created-at" />
                <col class="views" />
            </colgroup>
            <thead>
                <tr>
                    <th>Num</th>
                    <th>Title</th>
                    <th>User</th>
                    <th>Created At</th>
                    <th>Views</th>
                </tr>
            </thead>
            <tbody>
                {% if posts %}
                    {% for key, value in posts.items() %} <!--딕셔너리 반복문 돌릴 때는 .items() 사용하기...-->
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <a href="/post_detail/{{ name }}/{{ key }}" class="qna-link">
                                    {{ value['title'] }}
                                </a>
                            </td>
                            <td>{{ value['name'] }}</td>
                            <td>{{ value['date'] }}</td>
                            <td>{{ value['views'] or 0 }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center;">게시글이 없습니다.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock section %}