{% extends "header.html" %}
{% block check %}
<input type="checkbox" id="switch" class="switch-input" onclick="location.href='main_service.html'">
{% endblock check %}
{% block section %}
{% if session['status']=="product" %}
{% include 'nav_product.html' %}
{% else %}
{% include 'nav_service.html' %}
{% endif %}

<section id="board_view">
    <div class="board_view_container">
        <h2 class="board_view_header">작성한 게시글</h2>
        <form id="board_view_form">
            <!-- 게시물 제목 -->
            <div id="postTitle" style="width: 100%; margin-bottom: 10px;">제목 : </div>

            <!-- 작성자 id -->
            <div id="postId" style="width: 100%; margin-bottom: 10px;">작성자 : </div>
            
            <div id="date" style="width: 100%; margin-bottom: 10px;">작성일 : </div>

            <!-- 게시물 내용 -->
            <div id="postContent" rows="5" style="width: 100%; margin-bottom: 10px;">내용 : </div>
        </form>
    </div>

    <!-- 수정 버튼 -->
    <button id="modify">수정하기</button>

    <!-- 삭제 버튼 -->
    <button id="delete">삭제하기</button>
        
    <button type="button" onclick="location.href='board_list.html'">뒤로가기</button>

    <script src="path/to/main.js"></script>
</section>

<script>
const boardsStr = localStorage.getItem("boards");
const boardsObj = JSON.parse(boardsStr);

const idx = location.search;
const index = idx.split("=")[1];
const board = boardsObj[index];

const beforeUrl = document.referrer;

const viewCount = (beforeUrl) => {
    if (beforeUrl.split("/").pop() === "board_list.html") {
        board.views++;
        const viewCountStr = JSON.stringify(boardsObj);
        localStorage.setItem("boards", viewCountStr);
    }
};

viewCount(beforeUrl);

const board_view_form = document.querySelectorAll("#board_view_form > div");

for (let i = 0; i < board_view_form.length; i++) {
    const id = board_view_form[i].id;
    board_view_form[i].innerHTML += " " + board[id];
}

const modifyBtn = document.querySelector("#modify");

const modifyBtnHandler = (e) => {
    location.href = "/board_modify.html?index=" + idx;
};

modifyBtn.addEventListener("click", modifyBtnHandler);

//삭제하기 버튼
const deleteBtn = document.querySelector("#delete");

const deleteBtnHandler = (e) => {
    boardsObj.splice(index, 1);
    for(let i=0; i < boardsObj.length; i++){
        boardsObj[i].index=i;
    }

    const setBoardsStr = JSON.stringify(boardsObj);
    localStorage.setItem("boards", setBoardsStr);
    location.href = "/board_list.html";
};

deleteBtn.addEventListener("click", deleteBtnHandler);
</script>
{% endblock section %}