{% extends "header.html" %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Review Detail Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='eunyoung_style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
{% endblock %}

{% block section %}
{% if session['status']=="product" %}
{% include 'nav_product.html' %}
{% else %}
{% include 'nav_service.html' %}
{% endif %}

<section class="qna-container">
    <div class="qna-form-container">
        <h2 class="qna-title">게시물 등록</h2>
        <form id="board_write_form" method="POST" action="/post_write">
            <input type="hidden" name="name" class="qna-form-input" value="{{name}}" readonly>
            
            <label class="qna-form-label" for="postTitle">제목:</label>
            <input type="text" name="postTitle" class="qna-form-input" required />
            
            <label class="qna-form-label" for="writer">작성자:</label>
            <input type="text" name="writer" class="qna-form-input" value="{{writer}}" readonly>
            
            <label class="qna-form-label" for="psw">비밀번호:</label>
            <input type="password" name="psw" class="qna-form-input" required />
            
            <label class="qna-form-label" for="postContent">내용:</label>
            <textarea name="postContent" class="qna-form-input qna-form-textarea" required></textarea>

            <button type="submit" class="qna-btn qna-btn-full">등록하기</button>
        </form>
    </div>
    <button type="button" onclick="location.href='/board_list/{{ name }}/'" class="qna-btn">뒤로가기</button>
</section>
{% endblock section %}