{% extends "header.html" %}
{% block check %}
<input type="checkbox" id="switch" class="switch-input" onclick="location.href='main_service.html'">
{% endblock check %}
{% block section %}
{% if session['status']=="product" %}
{% include 'nav_product.html' %}
{% else %}
{% include 'nav_service.html' %}
{% endif %}
<section id ="board_list">
    <h2>Q&A 게시판</h2>
    <div>
        <a href="board_write.html"><button>작성하기</button></a>
    </div>
    <div>
        <table>
          <colgroup>
            <col class="index" />
            <col class="postTitle" />
            <col class="postId" />
            <col class="date" />
            <col class="views" />
          </colgroup>
          <thead>
            <tr>
              <th>Num</th>
              <th>Title</th>
              <th>User</th>
              <th>Created At</th>
              <th>Views</th>
            </tr>
          </thead>
          <tbody id="list"></tbody>
        </table>
    </div>
<script src="path/to/main.js"></script>
</section>

<script>
let boardsStr = localStorage.getItem("boards");

if(boardsStr == null){
  const listStr = JSON.stringify([]);
  localStorage.setItem("boards", listStr);
  boardsStr = listStr;
}

const boardsObj = JSON.parse(boardsStr);

const template = (index, objValue) => {
    return `
    <tr>
        <td>${index + 1}</td>
        <td><a href="/board_view.html?index=${objValue.index}">${objValue.postTitle}</a></td>
        <td>${objValue.postId}</td>
        <td>${objValue.date}</td>
        <td>${objValue.views}</td>
    </tr>
    `;
};

const tbody = document.querySelector("tbody");

for (let i = 0; i < boardsObj.length; i++) {
    tbody.innerHTML += template(i, boardsObj[i]);
}
</script>
{% endblock section %}
