{% extends "header.html" %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Review Detail Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='eunyoung_style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

<input type="checkbox" id="switch" class="switch-input" onclick="location.href='main_service.html'">
{% endblock check %}
{% block section %}
{% if session['status']=="product" %}
{% include 'nav_product.html' %}
{% else %}
{% include 'nav_service.html' %}
{% endif %}
<section id="board_modify">
    <div class="board_modify_container">
        <h2 class="board_modify_m">게시물 수정</h2>
        <form id="board_modify_form" name="board_modify_form" method="POST" action="/board_modify/{{ item_name }}/{{ post_key }}"> 
            <label for="postTitle">제목:</label> 
            <input type="text" name="postTitle" style="width: 100%; margin-bottom: 10px;" value="{{ post.title }}" required /> 
            <label for="postContent">내용:</label> 
            <textarea name="postContent" rows="5" style="width: 100%; margin-bottom: 10px;" required>{{ post.content }}</textarea> 
            <label for="psw">비밀번호:</label> 
            <input type="password" name="psw" style="width: 100%; margin-bottom: 10px;" required /> 
            <button type="submit">수정완료</button> </form>
    </div>
    <button type="button" onclick="location.href='/board_list/{{ item_name }}/'">뒤로가기</button>
    <script src="path/to/main.js"></script>
</section>
{% endblock section %}