<!DOCTYPE html>
<html lang="ko">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ewha Market Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    {% endblock head %}
</head>

<body>
    {% block header %}
    <header class="header">
        <div class="logo-section">
            <div class="logo">
                <img src="/static/images/logo.png" alt="소소한 이화">
                <span class="logo-text">소소한 이화</span>
            </div>
            <div class="toggle-switch">
                {% if session['status']=="service" %}
                <input type="checkbox" id="switch" class="switch-input" checked>
                {% else %}
                <input type="checkbox" id="switch" class="switch-input">
                {% endif %}
                <label for="switch" class="switch-label">
                    <span class="switch-option left" id="switch-left">제품</span>
                    <span class="switch-option right" id="switch-right">서비스</span>
                </label>
            </div>
        </div>
        <div class="search-bar">
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" name="query" placeholder="검색" required>
                <button class="search-button" type="submit">
                    <img src="/static/images/search.svg" alt="search icon">
                </button>
            </form>
        </div>

        <div class="header-icons">
            <a class="register-btn" onclick="location.href='/상품등록하기.html'">제품 등록하기</a>
            <a class="icon-btn" onclick="location.href='/main.html'">
                <img src="/static/images/home.svg" alt="Home">
            </a>
            {% if session['id'] %}
            <a onclick="location.href='/profile.html'">
                <img src="/static/images/profile.svg" alt="Profile">
            </a>
            <b>{{session['id']}}님</b>
            <a onclick="location.href='/logout'">logout</a>
            {% else %}
            <a class="icon-btn" onclick="location.href='/login.html'">
                <img src="{{ url_for('static', filename='images/profile.svg') }}" alt="Profile">
            </a>
            {% endif %}
            <a class="icon-btn" onclick="location.href='/cart.html'">
                <img src="/static/images/cart.svg" alt="Cart">
            </a>
        </div>
    </header>
    {% endblock header %}
    {% block section %}
    {% endblock section %}
    {% block footer %}
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/static/images/logo.png" alt="소소한 이화">
            </div>
            <div class="footer-name">
                <h3>소소한 이화</h3>
            </div>
            <div class="footer-links">
                <a onclick="location.href='aboutus.html'">About Us</a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-info">
                <span>©copyright 2024</span>
            </div>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>