<!DOCTYPE html>
<html lang="ko">


<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ewha Market Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    {% endblock head %}
</head>


<body>
    <header class="header">
        <div class="logo-section">
            <div class="logo">
                <img src="/static/images/logo.png" alt="소소한 이화">
                <span class="logo-text">소소한 이화</span>
            </div>
            <div class="toggle-switch">
                {% block check %}
                <input type="checkbox" id="switch" class="switch-input">
                {% endblock check %}
                <label for="switch" class="switch-label">
                    <span class="switch-option left">제품</span>
                    <span class="switch-option right">서비스</span>
                </label>
            </div>
        </div>
        <div class="search-bar">
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" name="query" placeholder="검색" required>
                <button class="search-button" type="submit">
                    <img src="/static/images/search.svg" alt="search icon">
                </button>
            </form>
        </div>
        


        <!-- 241107v1. 여기 다시 설정 필요합니다!!!!-->
        <div class="header-icons">
            <a href="상품등록하기.html" class="register-btn">제품 등록하기</a>
            <a href="http://127.0.0.1:5000" class="icon-btn"><img src="/static/images/home.svg" alt="Home"></a>
            {% if session['id'] %}
            <a href="profile.html"><img src="/static/images/profile.svg" alt="Profile"></a><b>{{session['id']}}님</b><a
                href="/logout">logout</a>
            {% else %}
            <a href="login.html" class="icon-btn"><img src="/static/images/profile.svg" alt="Profile"></a>
            {% endif %}
            <a href="cart_product.html" class="icon-btn"><img src="/static/images/cart.svg" alt="Cart"></a>
        </div>
    </header>
    {% block section %}
    {% endblock section %}
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/static/images/logo.png" alt="소소한 이화">
            </div>
            <div class="footer-name">
                <h3>소소한 이화</h3>
            </div>
            <!--http full name으로 추가하기 !!!!!!!-->
            <div class="footer-links">
                <a href="aboutus.html">About Us</a>
                <a href="http://127.0.0.1:5000">제품</a>
                <a href="main_service.html">서비스</a>

            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-info">
                <span>©copyright 2024</span>
            </div>

        </div>
    </footer>
</body>

</html>