<nav class="nav-categories">
    <a href="/list" class="{{ 'active' if request.path == '/list' else '' }}">ALL</a>
    <a href="/list/식품" class="{{ 'active' if request.path == '/list/식품' else '' }}">식품</a>
    <a href="/list/공예" class="{{ 'active' if request.path == '/list/공예' else '' }}">공예</a>
    <a href="/list/뷰티" class="{{ 'active' if request.path == '/list/뷰티' else '' }}">뷰티</a>
    <a href="/list/패션" class="{{ 'active' if request.path == '/list/패션' else '' }}">패션</a>
    <a href="/list/기타 제품" class="{{ 'active' if request.path == '/list/기타 제품' else '' }}">기타 제품</a>
    <a href="/list/제품 제작 의뢰" class="{{ 'active' if request.path == '/list/제품 제작 의뢰' else '' }}">제품 제작 의뢰</a>
</nav>