{% extends "header.html" %}
{% block section %}
<div class="row">
    <div class="column side"></div>
    <div class="column middle">
        <h2 id="login">마이페이지</h2>
        <hr width=100%><br>
        <table id="login_table">
            <tr>
                <th>
                    <label class="data_name">아이디</label><br><br>
                </th>
                <td>
                    <p class="data_print">{{data.id}}</p><br><br>
                </td>
            </tr>
            <tr>
                <th>
                    <label class="data_name">이름</label><br><br>
                </th>
                <td>
                    <p class="data_print">{{data.name}}</p><br><br>
                </td>
            </tr>
            <tr>
                <th>
                    <label class="data_name">학번</label><br><br>
                </th>
                <td>
                    <p class="data_print">{{data.stdNum}}</p><br><br>
                </td>
            </tr>
            <tr>
                <th>
                    <label class="data_name">학교 이메일</label><br><br>
                </th>
                <td>
                    <p class="data_print">{{data.email}}</p><br><br>
                </td>
            </tr>
            <tr>
                <th>
                    <label class="data_name">생년월일</label><br><br>
                </th>
                <td>
                    <p class="data_print">{{data.byear}}년 {{data.bmonth}}월 {{data.bday}}일</p><br><br>
                </td>
            </tr>
            <tr>
                <th>
                    <label class="data_name">전화번호</label><br><br>
                </th>
                <td>
                    <p class="data_print">{{data.phoneNum}}</p><br><br>
                </td>
            </tr>
            <tr>
                <th>
                    <label class="data_name">주소</label><br><br>
                </th>
                <td>
                    <p class="data_print">{{data.address}}</p><br><br>
                </td>
            </tr>
        </table>
    </div>
    <div class="column side"></div>
</div>

<!-- 좋아요 섹션 -->
<div class="row">
    <div class="column side"></div>
    <div class="column middle">
        <h2 id="login">좋아요</h2>
        <hr width=100%><br>
        {% if heart %}
            {% for key in heart %}
            <div class="register-board-btn">
                <button onclick="location.href='/view_detail/{{key}}';" class="board-btn" style="width:100%; margin-bottom: 10px;">
                    {{key}}
                </button>
            </div>
            {% endfor %}
        {% else %}
            <p style="text-align: center; color: #666;">좋아요가 없습니다!</p>
        {% endif %}
    </div>
    <div class="column side"></div>
</div>

<!-- 내가 작성한 게시물 -->
<div class="row">
    <div class="column side"></div>
    <div class="column middle">
        <h2>내가 작성한 게시물</h2>
        <hr width=100%><br>
        {% if posts %}
            {% for post in posts %}
                <div class="post-item">
                    <button onclick="location.href='/post_detail/{{ post.item_name }}/{{ post.post_key }}';" class="btn">
                        {{ post.title }}
                    </button>
                </div>
            {% endfor %}
        {% else %}
            <p>작성한 게시물이 없습니다.</p>
        {% endif %}
    </div>
    <div class="column side"></div>
</div>

<!-- 내가 작성한 댓글 -->
<div class="row">
    <div class="column side"></div>
    <div class="column middle">
        <h2>내가 작성한 댓글</h2>
        <hr width=100%><br>
        {% if comments %}
            {% for comment in comments %}
                <div class="comment-item">
                    <button onclick="location.href='/post_detail/{{ comment.item_name }}/{{ comment.post_key }}';" class="btn">
                        {{ comment.content }}
                    </button>
                </div>
            {% endfor %}
        {% else %}
            <p>작성한 댓글이 없습니다.</p>
        {% endif %}
    </div>
    <div class="column side"></div>
</div>
{% endblock section %}