{% extends "header.html" %}
{% block section %}
{% include 'nav_service.html' %}
<section id="purchase_r">
<div class="container">
    <h3>주문 내역 확인</h3>

    <!-- 상품 박스 -->
    <div class="product-box" id="product1" data-price="10000">
        <div class="product-details">
            <img src="https://via.placeholder.com/60" alt="상품 이미지">
            <div class="product-info">
                <h4>상품명</h4>
                <p>가격: 10,000원</p>
                <div class="quantity-control">
                    <button onclick="decreaseQuantity1('quantity1', 10000)">-</button>
                    <span id="quantity1">1</span>
                    <button onclick="increaseQuantity1('quantity1', 10000)">+</button>
                </div>
            </div>
        </div>
        <span class="remove-btn" onclick="removeProduct1('product1')">x</span>
    </div>

    <div class="finalprice">
        <h3>최종 결제 금액 : </h3>
        <span class="product-price" id="finalPrice1"> 원</span>
    </div>

    <!-- 결제하기 버튼 -->
    <button class="checkout-btn" onclick="redirectToPayment()">결제하기</button>

</div>
<script src="path/to/main.js"></script>
</section>
{% endblock section %}