{% extends "header.html" %}
{% block check %}
<input type="checkbox" id="switch" class="switch-input" checked onclick="location.href='http://127.0.0.1:5000'">
{% endblock check %}
{% block section %}
{% include 'nav_service.html' %}
<body>
    <div class="qa-container">
        <h2 class="qa-header">질문 등록</h2>
        <form id="questionForm">
            <label for="questionInput">질문:</label>
            <textarea id="questionInput" rows="5" style="width: 100%; margin-bottom: 10px;" required></textarea>
            <button type="submit" class="qa-actions">등록하기</button>
        </form>
    </div>
</body>
{% endblock section %}

