{% extends "header.html" %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Review Detail Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='eunyoung_style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
{% endblock head %}

{% block section %}
<br><br><br>
<div class="review_body">
    <div id="review_detail_div">
        <h2 id="review_detail_h2">상품 리뷰 상세</h2>

        <!-- 이미지 자리 표시: 이미지가 크면 css가 다 깨지는거 수정해야함!!!!-->
        <div id="review_detail_image"><img src="../../../static/images/{{data.img_path}}"></div>

        <!-- 별점 및 사용자 정보 -->
        <div id="review_user_info">
            <span id="user_star">
                {% set value=data.rate | int %} <!--jinja에서 type conversion-->
                {% for i in range(value) %}
                ★
                {% endfor %}
                {% for i in range(5-value) %}
                ☆
                {% endfor %}
            </span>
            <span id="user_score">({{data.rate}})</span>
            <span id="user_id">{{data.user_id}} | {{data.date}}</span>
        </div>

        <!-- 리뷰 텍스트 -->
        <div class="revie_text">
            <p id="review_title">{{data.title}}</p>
            <p id="review_text">{{data.review}}
        </div>
    </div>
</div>
{% endblock section %}
