{% extends "header.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Review Write Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='eunyoung_style.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
{% endblock head %}

{% block section %}
<br><br><br><br>
<div class="review_body">
    <div class="container">
        <h2 id="review_h2">리뷰 작성</h2>
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
        <form class="mb-3" name="myform" id="myform" method="post" action="/reg_review" enctype="multipart/form-data">
            <!--별점: css 적용이 안됐음!!!!! 수정할 것-->
            <div class="rating-container">
                <p>별점을 선택해 주세요</p>
                <fieldset> 
                    <input class="star" type="radio" name="reviewStar" value="5" id="rate1"><label for="rate1">★</label>
                    <input class="star" type="radio" name="reviewStar" value="4" id="rate2"><label for="rate2">★</label>
                    <input class="star" type="radio" name="reviewStar" value="3" id="rate3"><label for="rate3">★</label>
                    <input class="star" type="radio" name="reviewStar" value="2" id="rate4"><label for="rate4">★</label>
                    <input class="star" type="radio" name="reviewStar" value="1" id="rate5"><label for="rate5">★</label>
                </fieldset>
                <!-- 회색 네모 박스 -->
                <div class="gray-box" id="imagePreviewContainer"></div>
            </div>
            <!--사진 첨부-->
            <div class="image-upload-container">
                <img id="imagePreview" alt="사진 미리보기">
                <input type="file" id="image" name="file" accept="image/*" onchange="previewImage(event)"
                    class="file-button">
            </div>
            <!--상품-->
            <div>
                <input type="text" name="name" id="name" value="{{name}}" placeholder="{{name}}" readonly><br><br>
            </div>
            <!--제목-->
            <div>
                <input type="text" id="title" name="title"  value="" maxlength="50" placeholder="제목 (50자 이내)">
            </div>
            <!--상세리뷰-->
            <div>
                <textarea id="content" type="text" name="reviewContents" maxlength="500" placeholder="내용 (500자 이내)"></textarea>
            </div>

            <!--이건 뭐지
            <input type="hidden" id="rating" value="5">-->

            <!--제출 버튼-->
            <div id="submit_div">
                <input type="submit" class="submit-button"  value="작성완료">
            </div>
        </form>
    </div>
</div>
<script src="path/to/main.js"></script>
{% endblock section %}