{% extends 'header.html' %}

{% block section %}
<div class="all-products-container">
    <h1 class="page-title">{{ query }}</h1> 
    
    <!-- 검색 결과 요약 -->
    {% if total > 0 %}
    <br>
    <p> 상품 검색 결과 <strong>{{ total }}</strong></p>
    

        <!-- 상품 목록 -->
        <div class="products-grid">
            {% for product in products %}
            <a href="#" class="product-card">
                <div class="product-image">
                    <img src="{{ url_for('static', filename='images/' ~ product.img_path) }}" alt="{{ product.name }}">
                </div>
                <div class="product-info">
                    <h3>{{ product.name }}</h3>
                </div>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <p>등록된 상품이 없습니다</p>
    {% endif %}
    <div class="pagination">
        <a href="#" class="prev">Previous</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#" class="next">Next</a>
    </div>
</div>


{% endblock section %}
