<!--상품 등록은 로그인 후에만 가능하도록 변경해야 함-->
<!--상품 등록에 가격 등록하는게 없음... 어쩌지?-->
{% extends "header.html" %}
{% block section %}
{% with mesg = get_flashed_messages() %}
{% if mesg !=[] %}
<script>alert("{{ mesg[0] }}")</script>
{% endif %}
{% endwith %}
<section id="ps_upload">
    <div class="container">
        <h2>상품 등록</h2>
        <hr class="title-line">
        <form action="/submit_item_post" method="POST" enctype="multipart/form-data">
            <label for="title">제목 (20자 이내)</label>
            <input type="text" id="title" name="title" maxlength="20" required>
            <label for="price">가격 (원)</label>
            <input type="number" id="price" name="price" required>

            <div class="dropdowns">
                <div class="dropdown">
                        <select id="product_type" name="product_type" onchange="updateCategoryOptions(this)">
                        <option value="first" selected>카테고리 선택</option>
                        <option value="product">제품</option>
                        <option value="service">서비스</option>
                    </select>
                </div>

                <div class="dropdown">
                        <select id="category" name="category">
                        <!-- JavaScript로 옵션이 업데이트될 예정 -->
                    </select>
                </div>
            </div>

            <div class="image-upload">
                <div class="image-upload">
                    <label for="image" class="upload-label">사진 첨부</label>
                    <input type="file" id="image" name="image" accept="image/*">
                    <div id="preview" class="image-preview"></div><br><br>
            
                    <!--<button type="submit">등록</button>-->
                </div>
            <label for="description">내용 (500자 이내)</label>
            <textarea id="description" name="description" maxlength="500" required></textarea>
            

            <div class="button-container">
                 <button type="submit">작성 완료</button>
            </div>
        </form>
    </div>
    <script src="path/to/main.js"></script>
</section>
{% endblock section %}

